@font-face {
	font-family: 'American Typewriter';
	font-display: swap;
	src: url('$lib/assets/fonts/AmericanTypewriterStd-Light.otf');

	/*  url('$lib/assets/fonts/AmericanTypewriterStd-BdCnd.otf'),
		url('$lib/assets/fonts/AmericanTypewriterStd-BdIta.otf'), */
	/* url('$lib/assets/fonts/AmericanTypewriterStd-Bold.otf'), url('$lib/assets/fonts/AmericanTypewriterStd-Cond.otf'),*/
	/* url('$lib/assets/fonts/AmericanTypewriterStd-LtCnd.otf'),
		url('$lib/assets/fonts/AmericanTypewriterStd-LtIta.otf'),
		url('$lib/assets/fonts/AmericanTypewriterStd-MdIta.otf'),
		url('$lib/assets/fonts/AmericanTypewriterStd-Med.otf'); */
}

@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url('$lib/assets/fonts/Montserrat-VariableFont_wght.ttf'),
		url('$lib/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.clip-path-top {
		clip-path: polygon(0 6rem, 100% 0, 100% calc(100% - 6rem), 0 100%);
	}
	.clip-path-bottom {
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6rem), 0 100%);
	}
}

@layer base {
	h1 {
		@apply font-display text-5xl;
	}
	h2 {
		@apply font-display text-4xl;
	}
	h3 {
		@apply font-display text-3xl;
	}
	h4 {
		@apply font-display text-2xl;
	}
	h5 {
		@apply font-display text-xl;
	}
}
