@font-face {
	font-family: 'PoiretOne';
	font-display: swap;
	src: url('$lib/assets/fonts/PoiretOne-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url('$lib/assets/fonts/Montserrat-VariableFont_wght.tff'),
		url('$lib/assets/fonts/Montserrat-Italic-VariableFont_wght.tff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.clip-path-top {
		clip-path: polygon(0 6rem, 100% 0, 100% calc(100% - 6rem), 0 100%);
	}
	.clip-path-bottom {
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6rem), 0 100%);
	}
}

@layer base {
	h1 {
		@apply font-display text-5xl;
	}
	h2 {
		@apply font-display text-4xl;
	}
	h3 {
		@apply font-display text-3xl;
	}
	h4 {
		@apply font-display text-2xl;
	}
	h5 {
		@apply font-display text-xl;
	}
}
